nav
    ul
        if locals.user
            li Hello #{locals.user} !!!!
            li
                a(class="btn admin" href="/") Gallery
            li
                a(class="btn admin" href="/admin") Administrate
            li
                a(class="btn admin" href="/logout") Logout
        else 
            li
                a(class="btn admin" href="/") Gallery
            li
                a(class="btn admin" href="/auth/signin") Sign in