extends tmpl.pug

block main
    h1 #{title}
    form(action="/submit", method="POST" enctype="application/x-www-form-urlencoded")
        fieldset
            legend add data for images
            label(for="title") title
            input#title(type="text", name="title" required)
            label(for="desc") description
            input#desc(type="text", name="desc" required)
        fieldset
            legend upload image (jpg,png,gif)
            label(for="image") click to upload or drag into target
            input#image(type="file", name="image" required)
            picture
                source(src="", type="image")

        button(type="submit") submit
                