extends tmpl.pug

block main
    h1 #{title}
    if (locals.error)
        div.error(aria-prompt="alert") #[span &#9888;] #{locals.error}
    form#signin(class="form" action="/auth/signin" method="post")
      fieldset
        legend Sign in
        label(for="email") Email
        input#email(type="text" name="email")
        label(for="password") Password
        input#password(type="password" name="password")
      button(class="btn submit" type="submit") Sign in