<!DOCTYPE html>
    html(lang="en")
        head
            include partials/head.pug 
            block head  
        body
            include partials/navigation.pug 
            main
                block main