:root {
  --eggshell: hsl(40, 33%, 98%);
  --red: hsl(356, 100%, 53%);
  --yellow: hsl(46, 93%, 68%);
  --blue: hsl(216, 39%, 28%);
  --grey-50: hsl(187, 27%, 67%);
  --black: #111;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
html {
  background-color: var(--blue);
  box-sizing: border-box;
  color: var(--black);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
* {
  box-sizing: border-box;
}
::placeholder {
  color: gray;
}
h1 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--eggshell);
}
a {
  color: var(--grey-50);
}
nav {
  display: flex;
}
nav ul {
  display: flex;
  align-items: baseline;
  margin: 0;
  padding-left: 1em;
}
nav li {
  list-style: none;
  color: var(--eggshell);
}

@media (-webkit-min-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-resolution: 2dppx) {
  .image {
    background: hsla(200, 100, 10, 10);
  }
}
/** FORM */
.form {
  padding: 1em;
  background-color: var(--eggshell);
  width: 90%;
  margin: 0 auto;
}
fieldset {
  padding: 0;
  border: none;
}
legend {
  border-bottom: 1px solid var(--grey-50);
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}
input {
  border: 1px solid transparent;
}
.form label {
  font-weight: 300;
  font-size: 1.3rem;
}
.form label,
.form input {
  display: block;
  margin: 0.2rem 0;
}

input[type='text'],
input[type='password'] {
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  border-color: var(--grey-50);
  border-radius: 0;
  width: 100%;
  margin-bottom: 1em;
}
.btn {
  display: inline-block;
  border: 1px solid transparent;
  padding: 0.3rem 1rem;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
  margin: 0.5em;
  border-radius: 3px;
}
.btn.submit {
  background-color: var(--blue);
  color: var(--eggshell);
  font-size: 1rem;
}
.btn.admin {
  background-color: var(--eggshell);
  color: var(--black);
}
.btn.warning {
  background-color: var(--red);
  color: var(--eggshell);
}
.nav-group {
  padding: 0 1em;
  border-bottom: 1px solid hsla(0, 0%, 82%, 0.925);
  margin-bottom: 2em;
  padding-bottom: 0.5em;
}
/** Admin **/
.admin-tools {
  display: flex;
  justify-content: space-between;
}
.admin-image {
  width: 350px;
  height: 250px;
}
.admin-image img {
  border: 5px solid var(--eggshell);
}
.admin-image figcaption {
  padding: 1em;
  color: var(--black);
  background: var(--eggshell);
}
/** Errors */
.error {
  background-color: var(--eggshell);
  padding: 1em;
  width: 90%;
  margin: 0.5rem auto;
  font-weight: 700;
  color: var(--red);
}
.error span {
  font-size: 2rem;
  vertical-align: middle;
}
/** --------- GALLERY---------- **/
.grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-gap: 10px;
  grid-auto-rows: 220px 150px;
  grid-auto-flow: dense;
}
figure {
  margin: 0;
  position: relative;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
figure span {
  position: absolute;
  display: inline-block;
  color: var(--eggshell);
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  padding: 0.35em;
}
figcaption {
  color: var(--eggshell);
  width: 100%;
  padding: 0.5em 0.8em;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
}
figure.item-1 {
  grid-column: span 2;
  grid-row: span 2;
}
